<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="icon" th:href="@{{path}/images/manage/favicon.png(path=${contextPath})}" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/rmsportal/nGVBgVyXzzmbAqevIAPy.js">
  </script>
  <script src=" https://gw.alipayobjects.com/os/rmsportal/TKSqiyoUxzrHoMwjViwA.js "></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
<link th:href="@{{path}/css/index.308ef9d3.css(path=${contextPath})}" rel="stylesheet"></head>

<body>
<a href="/v1/api/user/list">alalala </a>
  <div id="root"></div>
<script type="text/javascript" th:src="@{{path}/js/index.198ee129.js(path=${contextPath})}"></script></body>

</html>